.footer {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.footer-logo {
  text-align: center;
  margin-bottom: 43px;
}

.social {
  margin-bottom: 41px;
}

.social-button {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 44px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  background-color: #fefefe;
  border-radius: 50%;
  box-sizing: border-box;
}

.social-button__image g,
.social-button__image path,
.footer__produce-icon path {
  fill: $bg-color-red;
}

.footer__produce {
  display: inline-block;
  vertical-align: top;
  min-width: 30px;
  height: 34px;
  margin-bottom: 40px;
}

.footer__produce-text {
  line-height: 34px;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .social {
    width: 180px;
  }

  .footer__produce {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    min-height: 50px;
    margin-bottom: 0;
  }

  .footer__produce-icon {
    width: 27px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
