.form {
  margin: 0 auto;
  padding-top: 45px;
}

.form__title {
  margin: 0 auto;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: $font-color-darkgrey;
  box-sizing: border-box;
}

.text-visible {
  display: none;
}

.form__name {
  display: flex;
  flex-wrap: wrap;
}

.form__field-name {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $bg-color-red;
  text-transform: uppercase;
}

.form__field-input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.doit-wrapper,
.apps-wrapper {
  background-color: $bg-color-lightgrey;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

//----------- Form - Button ---------

.form-button {
  padding-left: 22px;
  padding-right: 22px;
}

.form__btn {
  display: inline-block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  vertical-align: top;
  text-transform: uppercase;
  min-height: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: $color-white;
  border: none;
  background-color: #2aab6d;
  cursor: pointer;
}

.form-note {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  text-transform: uppercase;
  color: $font-color-darkgrey;
}

.red-star {
  color: $font-color-red;
}


@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
  }

  .form__name {
    order: 1;
  }

  .doit-wrapper {
    order: 4;
  }

  .form__contacts {
    order: 3;
  }

  .apps-wrapper {
    order: 2;
  }

  .form__emotion {
    order: 5;
  }

  .form-button {
    order: 6;
  }

  .form__title {
    width: $tablet-width;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 100px;
    font-size: 18px;
  }

  .text-visible {
    display: block;
  }

  .form-button {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .form__btn {
    width: 296px;
    min-height: 59px;
  }

  .form-note {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
    padding-left: 10px;
    padding-right: 10px;
  }

  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
  }

}
