.form {
  margin: 0 auto;
  padding-top: 45px;
}

.form__title {
  margin: 0 auto;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: $font-color-darkgrey;
  box-sizing: border-box;
}


.text-visible {
  display: none;
}

.form__name {
  display: flex;
  flex-wrap: wrap;
}

.form__field-name {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $bg-color-red;
  text-transform: uppercase;
}

.form__field-input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: 2px solid $border-lightgrey;
  box-sizing: border-box;
}

.form__field-input:hover,
.form__emotion-text:hover {
  border: 2px solid $font-color-darkgrey;
}

.form__field-input:focus,
.form__emotion-text:focus {
  border: 2px solid $font-color-red;
  outline: none;
}

.doit-wrapper,
.apps-wrapper {
  background-color: $bg-color-lightgrey;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

//----------- Form - Button ---------

.form-button {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.form__btn {
  display: inline-block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  vertical-align: top;
  text-transform: uppercase;
  min-height: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: $color-white;
  border: none;
  background-color: $color-green;
  cursor: pointer;
  box-sizing: border-box;
}

.form__btn--modifier {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 37px;
}

.form-note {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  text-transform: uppercase;
  color: $font-color-darkgrey;
}

.red-star {
  color: $font-color-red;
}

.form__btn:hover {
  background-color: $color-green-hover;
}

.form__btn:active {
  color: $color-white-30;
  background-color: $color-green-hover;
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .form__name {
    order: 1;
  }

  .doit-wrapper {
    order: 4;
  }

  .form__contacts {
    order: 3;
  }

  .apps-wrapper {
    order: 2;
  }

  .form__emotion {
    order: 5;
  }

  .form__title {
    width: $tablet-width;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 68px;
    font-size: 18px;
    line-height: 1.8;
  }

  .form__title .text-visible {
    display: inline-block;
  }

  .form-button {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    order: 6;
  }

  .form-button .form__btn {
    width: 300px;
    min-height: 63px;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 45px;
  }

  .form-note {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    justify-content: space-between;
    width: $desktop-width;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form__title {
    width: $desktop-width;
    padding-left: 70px;
    padding-right: 70px;
  }

  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
  }

  .form__name {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .form-note {
    display: flex;
  }

  .form-note .text-visible {
    display: block;
  }
}
