.header {

}

.header-logo {
  display: flex;
  justify-content: space-between;
  min-height: 69px;
  width: 320px;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 19px;
  background-color: #1d2631;
  box-sizing: border-box;
}

.btn-close {
  background: #1d2631;
  border: none;
  cursor: pointer;
}
