.header {
  width: 100%;
  background-color: $bg-color-darkblue;
}

.header .container {
  width: $mobile-width;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  min-height: 62px;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 19px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .header .container {
    width: $tablet-width;
  }

  .header-logo {
    min-height: 109px;
    padding-top: 27px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 19px;
  }

  .header-logo__tablet-show {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    width: 100%;
    min-height: 110px;
    background-color: rgba(29, 38, 49, 0.6);
    z-index: 30;
  }

  .header__flex-wrapper {
    width: 960px;
    margin: 0 auto;
    height: 110px;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    position: relative;
    z-index: 20;
    box-sizing: border-box;
  }

  .header-logo {
    padding: 0;
    width: 147px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 6px;
    min-height: 49px;
    box-sizing: border-box;
  }

  .header-logo__desktop-show {
    width: 147px;
    height: 40px;
    display: block;
  }
}
