.features {
  width: 100%;
  background-color: $color-white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 26px;
}

.features__slogan {
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 26px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  background-color: $color-white;
}

.features-list__wrapper {
  background-color: $bg-color-lightgrey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: right 0;
}

.features-list {
  margin: 0;
  padding: 0;
  padding-top: 84px;
  padding-bottom: 290px;
  list-style: none;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 515px;
}

.features-list__item {
  margin-bottom: 30px;
}

.features-list__item-title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.71;
}

.features-list__item-text {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  line-height: 1.71;
}

.features-list__item-text br {
  display: none;
}

@media (min-width: 660px) {
  .features {
    padding-top: 0;
  }

  .features__slogan {
    padding-left: 37px;
    padding-right: 36px;
    padding-bottom: 0;
    font-size: 40px;
    line-height: 1.2;
  }

  .features__slogan:nth-child(1) {
    padding-top: 50px;
  }

  .features__slogan:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
  }

  .features-list {
    padding-top: 82px;
    padding-left: 330px;
    padding-bottom: 45px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png"),
      url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20px 13px, right 0;
  }

  .features-list__item-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .features-list__item-text {
    text-align: left;
    padding-left: 0;
  }

  .features-list__item:last-child {
    margin-bottom: 0;
  }

  .features-list__item-text br {
    display: block;
  }
}

@media (min-width: 960px) {
  .features__slogan {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
    font-size: 50px;
    line-height: 1.2;
  }

  .features__slogan:nth-child(2) {
    padding-left: 270px;
    padding-right: 270px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  .features-list__wrapper {
    background-color: $bg-color-lightgrey;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: right 0;
    //-webkit-background-size: 100% auto;
    background-size: 100% auto;
  }

  .features-list {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
    background-color: transparent;
    background-image: none;
  }

  .features-list__item {
    width: 267px;
    min-height: 570px;
    padding-top: 320px;
    box-sizing: border-box;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .features-list__item:nth-child(1) {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .features-list__item:nth-child(2) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .features-list__item:nth-child(3) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .features-list__item-title {
    font-size: 30px;
    text-align: center;
  }

  .features-list__item-text {
    font-size: 18px;
    text-align: center;
    padding: 0;
  }
}
