.slider {
  position: relative;
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #ffffff;
  text-align: center;
}

.toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65px;
  height: 13px;
  position: absolute;
  top: 250px;
  left: calc(50% - 65px / 2);
  z-index: 100;
}

.slider-toggle {
  display: inline-block;
  vertical-align: center;
  width: 6px;
  height: 6px;
  opacity: 0.3;
  background-color: #283645;
  border-radius: 50%;
  cursor: pointer;
}

.btn-01:checked ~ .toggles .slider-toggle[for="btn-01"] {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  opacity: 0.7;
  background-color: #ffffff;
  box-sizing: border-box;
}

.btn-02:checked ~ .toggles .slider-toggle[for="btn-02"] {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  opacity: 0.7;
  background-color: #ffffff;
  box-sizing: border-box;
}

.btn-03:checked ~ .toggles .slider-toggle[for="btn-03"] {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  opacity: 0.7;
  background-color: #ffffff;
  box-sizing: border-box;
}
