.pink-app {
  background-color: $bg-color-darkblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}


.pink-app__pic-wrapper {
  width: 320px;
  min-height: 462px;
  margin-top: -66px;
  padding-top: 90px;
  padding-left: 46px;
  padding-right: 45px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 bottom;
  box-sizing: border-box;
}

.pink-app__pic-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $color-white;
}

.pink-app__pic {
  vertical-align: bottom;
}

.download {
  width: 100%;
  min-height: 270px;
  padding-top: 30px;
  padding-left: 19px;
  box-sizing: border-box;
}

.download__btn {
  display: inline-block;
  vertical-align: top;
  width: 281px;
  min-height: 55px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $color-white;
  text-decoration: none;
  line-height: 24px;
  border: solid 3px $color-white;
  border-radius: 55px;
  box-sizing: border-box;
}

.download__icons {
  width: 205px;
  height: 57px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 36px;
}

.download__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  padding-left: 0px;
  padding-right: 13px;
  color: $color-white;
}


@media (min-width: 660px) {
  .pink-app {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .pink-app .container {
    position: relative;
  }

  .pink-app__pic-title {
    font-size: 40px;
    line-height: 48px;
  }

  .download__btn {
    width: 300px;
    margin-bottom: 43px;
  }

  //.download--position {
  //  font-size: 40px;
  //  line-height: 48px;
  //}

  .download {
    position: absolute;
    padding-top: 0;
    padding-left: 0;
    top: 379px;
    left: 20px;
    background-color: transparent;
  }

  .download__icons {
    width: 205px;
    height: 57px;
    margin-top: 0;
    margin-bottom: 38px;
    margin-left: 46px;
  }

  .download__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    padding-left: 5px;
    padding-right: 300px;
  }

  .pink-app__pic-wrapper {
    width: 660px;
    margin-top: -109px;
    min-height: 729px;
    padding-top: 200px;
    padding-left: 75px;
    padding-right: 390px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: -20px bottom;
  }
}

@media (min-width: 960px) {
  .pink-app {
    width: 100%;
    height: 850px;
    background-color: $bg-color-darkblue;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }

  .pink-app__pic-title {
    font-size: 50px;
    line-height: 62px;
    color: $color-white;
  }

  .download {
    top: 447px;
    left: 10px;
  }

  .download__btn {
    font-size: 21px;
    margin-bottom: 70px;
  }

  .download__icons {
    width: 205px;
    height: 57px;
    margin-bottom: 50px;
  }

  .download__text {
    padding-right: 600px;
  }

  .pink-app__pic-wrapper {
    width: 960px;
    height: 850px;
    margin-top: -108px;
    min-height: 729px;
    padding-top: 215px;
    padding-left: 23px;
    padding-right: 660px;
    background-color: transparent;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 25px bottom;
  }
}
