.slider {
  position: relative;
  padding-top: 40px;
  padding-bottom: 75px;
  background-color: $color-white;
  text-align: center;
}

.slide__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  color: $color-black;
}

.slide__subtitle {
  display: none;
}

.slide__text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $font-color-darkgrey;
}

.toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 13px;
  position: absolute;
  z-index: 100;
}

.slider-toggles {
  top: 296px;
  left: calc(50% - 65px / 2);
}

.slider-toggle {
  display: inline-block;
  vertical-align: center;
  width: 6px;
  height: 6px;
  opacity: 0.3;
  background-color: $font-color-darkgrey;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle:hover {
  opacity: 0.6;
  background-color: $font-color-darkgrey;
}

.slider-toggle:active {
  opacity: 0.1;
  background-color: $font-color-darkgrey;
}

.btn-01:checked ~ .toggles .slider-toggle[for="btn-01"] {
  width: 12px;
  height: 12px;
  border: 3px solid $color-black;
  opacity: 0.7;
  background-color: $color-white;
  box-sizing: border-box;
}

.btn-02:checked ~ .toggles .slider-toggle[for="btn-02"] {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  opacity: 0.7;
  background-color: $color-white;
  box-sizing: border-box;
}

.btn-03:checked ~ .toggles .slider-toggle[for="btn-03"] {
  width: 12px;
  height: 12px;
  border: 3px solid $color-black;
  opacity: 0.7;
  background-color: $color-white;
  box-sizing: border-box;
}

.slider-arrows {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider-wrapper {
    position: relative;
  }

  .slider-arrows {
    display: none;
  }

  .slider {
    padding-top: 5px;
    padding-bottom: 60px;
  }

  .slide-01,
  .slide-02,
  .slide-03 {
    display: flex;
    width: $tablet-width;
    min-height: 100px;
    flex-wrap: wrap;
  }

  .slide-02,
  .slide-03 {
    display: none;
  }

  .slide__title {
    width: $tablet-width;
    height: auto;
    font-size: 20px;
    margin-bottom: 8px;
    order: 2;
  }

  .slide__subtitle {
    display: block;
    width: $tablet-width;
    height: auto;
    font-weight: 400;
    order: 3;
  }

  .slide__text {
    width: $tablet-width;
    height: auto;
    margin-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 30px;
    order: 1;
  }

  .slider-toggles {
    top: 220px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding-bottom: 17px;
  }

  .slider-wrapper {
    width: $desktop-width;
    padding-top: 177px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 65px;
  }

  .slide-01,
  .slide-02,
  .slide-03 {
    width: $desktop-width;
  }

  .slide__title {
    width: $desktop-width;
    font-size: 24px;
  }

  .slide__subtitle {
    width: $desktop-width;
    font-size: 18px;
  }

  .slide__text {
    width: $desktop-width;
    padding-left: 135px;
    padding-right: 135px;
  }

  .slider-toggles {
    display: none;
  }

  .slider-arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 940px;
    height: 42px;
    top: 205px;
    left: 10px;
  }


  .slider-arrow {
    opacity: 0.3;
  }

  .slider-arrow:hover {
    opacity: 0.6;
  }

  .slider-arrow:active {
    opacity: 0.1;
  }
}
