.features__effect {
  display: none;
}

@media (min-width: 660px) {
  .features__effect {
    display: block;
  }

  .features__effect .container {
    position: relative;
    padding-top: 95px;
    padding-left: 327px;
    padding-right: 30px;
    padding-bottom: 120px;
    text-align: left;
    box-sizing: border-box;
    background-color: $color-white;
    background-image: url("../img/icon-editor-diagram-fill.svg"),
    url("../img/icon-timer.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 200px  200px, 238px  276px;
    background-position: 40px 115px, 20px 60px;
  }

  .features__effect .container::before {
    position: absolute;
    content: "24";
    font-size: 96px;
    color: $font-color-red;
    top: 200px;
    left: 80px;
    font-weight: 700;
  }

  .features__effect-title {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: $color-black;
    margin-bottom: 10px;
  }

  .features__effect-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: $font-color-darkgrey;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .features__effect-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $font-color-red;
  }

  .features__effect-text .br--one {
    display: none;
  }

  .features__effect-text .br--two {
    display: block;
  }
}

@media (min-width: 960px) {
  .features__effect {
    background-color: $bg-color-lightgrey;
  }

  .features__effect .container {
    padding-top: 120px;
    padding-left: 375px;
    padding-bottom: 117px;
    background-color: $bg-color-lightgrey;
    background-image: url("../img/icon-editor-diagram-fill.svg"),
      url("../img/icon-timer.svg");
    background-size: 253px 253px, 298px 345px;
    background-position: 35px 100px, 10px 30px;
  }

  .features__effect .container::before {
    top: 210px;
    left: 90px;
    font-size: 120px;
  }

  .features__effect-title {
    margin-bottom: 28px;
  }

  .features__effect-text {
    padding-right: 0;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
  }

  .features__effect-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: $font-color-red;
  }

  .features__effect-text .br--one {
    display: block;
  }

  .features__effect-text .br--two {
    display: none;
  }

  .br-display {
    display: none;
  }
}
