.features {
  width: 100%;
  background-color: $color-white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 26px;
}

.features__slogan {
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 26px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 0;
  }

  .features__slogan {
    padding-left: 37px;
    padding-right: 36px;
    padding-bottom: 0;
    font-size: 40px;
    line-height: 1.2;
  }

  .features__slogan:nth-child(1) {
    padding-top: 50px;
  }

  .features__slogan:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 20px;
  }

  .features__slogan {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
    font-size: 50px;
    line-height: 1.2;
  }

  .features__slogan:nth-child(2) {
    padding-left: 270px;
    padding-right: 270px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}
