.download-photo {
  width: 100%;
  background-color: $color-white;
}

.download-photo__header {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  color: $font-color-darkgrey;
}

.form-wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: $bg-color-lightgrey;
  box-sizing: border-box;
}

.img-upload__form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.img-upload__form-file,
.img-upload__form-settings {
  margin: 0;
  padding: 0;
  border: none;
}

.img-upload__form-file {
  width: 280px;
  height: 374px;
  margin-bottom: 40px;
}

.img-upload__form-settings {
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.form-settings {
  width: 200px;
  margin-left: 35px;
  align-items: center;
  margin-bottom: 75px;
}

.setting__crop {
  position: relative;
}

.setting-level {
  width: 240px;
  height: 2px;
  background-color: $font-color-darkgrey;
}

.level-crop {
  position: absolute;
  top: 85px;
  left: -15px;
}

.setting-level__pin {
  position: absolute;
  content: "";
  top: -7px;
  left: 70%;
  width: 11px;
  height: 11px;
  border: 2px solid $bg-color-red;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
}

.setting-level__pin:active {
  background-color: $bg-color-red;
}

.pin-crop--position {
  left: 74%;
}

.level-fill,
.level-contrast {
  display: none;
}

.download-photo__buttons {
  width: 100%;
}

.icon-crop {
  fill: $bg-color-red;
  cursor: pointer;
}

.icon-fill,
.icon-contrast path {
  fill: $border-lightgrey;
  cursor: pointer;
}

.icon-fill:hover,
.icon-contrast:hover path {
  fill: $icon-hover-darkgrey;
}

.download-photo__btn {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 55px;
  background: none;
  border-radius: 55px;
}

.post-btn {
  color: $bg-color-red;
  border: solid 3px $bg-color-red;
  margin-bottom: 10px;
}

.cancel-btn {
  color: $border-lightgrey;
  border: solid 3px $border-lightgrey;
}

@media (min-width: $tablet-width) {
  .img-upload__form-settings {
    margin-bottom: 0;
  }

  .img-upload__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .download-photo__header {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 2;
  }

  .form-wrapper {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: $bg-color-lightgrey;
    box-sizing: border-box;
  }

  .img-upload__form-file {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }

  .setting-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    margin-left: 45px;
    padding-top: 10px;
  }

  .download-photo__image {
    width: 300px;
    height: 400px;
  }

  .form-settings {
    padding: 0;
    margin: 0;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
  }

  .setting-level {
    width: 200px;
  }

  .level-crop {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
  }


  .level-fill,
  .level-contrast {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .form-settings .icons-list__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
  }

  .form-settings .setting__crop {
    margin-bottom: 47px;
  }

  .form-settings .setting__fill {
    margin-bottom: 55px;
  }

  .setting-scales__crop {
    position: relative;
    width: 200px;
  }

  .setting-scales__fill,
  .setting-scales__contrast {
    position: relative;
    width: 200px;
    height: 2px;
    display: block;
    background-color: $font-color-darkgrey;
  }

  .pin-fill--position {
    left: 13%;
  }

  .pin-contrast--position {
    left: 48%;
  }

  .icon-crop {
    width: 22px;
    height: 22px;
  }

  .icon-fill {
    width: 24px;
    height: 22px;
    fill: $bg-color-red;
  }

  .icon-contrast {
    width: 16px;
    height: 16px;
    margin-left: 3px;
  }

  .icon-contrast path {
    fill: $bg-color-red;
  }

  .icon-fill:hover,
  .icon-contrast:hover path {
    fill: $bg-color-red;
  }

  .download-photo__buttons {
    margin-top: auto;
  }

  .post-btn {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .download-photo {
    width: 100%;
    background-color: $color-white;
  }

  .download-photo__header {
    padding-top: 0;
    padding-bottom: 5px;
    line-height: 1.8;
  }

  .form-wrapper {
    padding-bottom: 25px;
    background-color: $color-white;
  }

  .img-upload__form {
    width: 940px;
    margin: 0 auto;
    padding-top: 57px;
    padding-left: 80px;
    padding-bottom: 55px;
    box-sizing: border-box;
    background-color: $bg-color-lightgrey;
  }

  .icon-crop {
    width: 44px;
    height: 44px;
  }

  .icon-fill {
    width: 48px;
    height: 43px;
    fill: $bg-color-red;
  }

  .icon-contrast {
    width: 32px;
    height: 32px;
    margin-left: 3px;
  }

  .setting-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    margin-left: 88px;
    margin-top: -3px;
    padding-top: 0;
    box-sizing: border-box;
  }

  .form-settings {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .form-settings .icons-list__item {
    display: flex;
    justify-content: space-between;
    width: 382px;
  }

  .setting-level {
    width: 290px;
  }

  .form-settings .setting__crop {
    margin-bottom: 30px;
  }

  .form-settings .setting__fill {
    margin-bottom: 30px;
  }

  .pin-crop--position {
    left: 25%;
  }

  .pin-fill--position {
    left: 86%;
  }

  .pin-contrast--position {
    left: 55%;
  }

  .download-photo__buttons {
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin-top: auto;
  }

  .post-btn {
    width: 180px;
    margin-bottom: 0;
  }

  .cancel-btn {
    width: 180px;
    margin-bottom: 0;
  }
}
