.download-photo {
  width: 100%;
  background-color: $color-white;
}

.download-photo__header {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  color: $font-color-darkgrey;
}

.form-wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: $bg-color-lightgrey;
  box-sizing: border-box;
}

.img-upload__form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.img-upload__form-file,
.img-upload__form-settings {
  margin: 0;
  padding: 0;
  border: none;
}

.img-upload__form-file {
  width: 280px;
  height: 374px;
  margin-bottom: 40px;
}

.img-upload__form-settings {
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.form-settings {
  width: 200px;
  margin-left: 35px;
  align-items: center;
  margin-bottom: 75px;
}

.setting__crop {
  position: relative;
}

.level-crop {
  position: absolute;
  top: 85px;
  left: -15px;
  width: 240px;
  height: 2px;
  background-color: $font-color-darkgrey;
}

.setting-level__pin {
  position: absolute;
  content: "";
  top: -8px;
  left: 70%;
  width: 12px;
  height: 12px;
  border: 2px solid $bg-color-red;
  border-radius: 50%;
  background-color: $color-white;
}

.level-fill,
.level-contrast {
  display: none;
}

.download-photo__buttons {
  width: 100%;
}

.icon-crop {
  fill: $bg-color-red;
}

.icon-fill,
.icon-contrast path {
  fill: $border-lightgrey;
}

.download-photo__btn {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 55px;
  background: none;
  border-radius: 55px;
}

.post-btn {
  color: $bg-color-red;
  border: solid 3px $bg-color-red;
  margin-bottom: 10px;
}

.cancel-btn {
  color: $border-lightgrey;
  border: solid 3px $border-lightgrey;
}

@media (min-width: $tablet-width) {
  .img-upload__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-upload__form-file {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }

  .download-photo__image {
    width: 300px;
    height: 400px;
  }

  .form-settings {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .form-settings .icons-list__item {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .setting-scales__crop {
    position: relative;
    width: 200px;
  }

  .setting-scales__fill,
  .setting-scales__contrast {
    position: relative;
    width: 200px;
    height: 2px;
    display: block;
    background-color: $font-color-darkgrey;
  }

  .icon-crop {
    width: 22px;
    height: 22px;
  }

  .icon-fill {
    width: 24px;
    height: 22px;
    fill: $bg-color-red;
  }

  .icon-contrast {
    width: 16px;
    height: 16px;
    margin-left: 3px;
  }

  .icon-contrast path {
    fill: $bg-color-red;
  }
}

//@media (min-width: $desktop-width) {
//
//}
